<div>
  <h1>Editable</h1>
  {{star-rating rating onClick=(action "setRating")}}
</div>
<div>
  <h1>Readonly</h1>
  {{star-rating 2.5 readOnly=true}}
</div>
<div>
  <h1>didReceiveAttrs</h1>
  {{star-rating updateableRating readOnly=true}}
</div>